body {
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
	background: #000000;
	color: #ffffff
}

.blackbg {
	background: #000000;
	color: #ffffff
}

.whitebg {
	background: #ffffff;
	color: #000000
}

.clear {
	clear: both
}

.spacer {
	clear: both;
	height: 5px;
}

.right {
	float: right
}

.left {
	float: left;
}

#login {
	margin-top: 15%;
}

#login input {
	font-size: 1.7em;
}

#adminConsole {
	padding: 0 10px;
}
#adminConsole #consoleHeader a {
	color: #665874;
	margin-top: 10px;
	margin-right: 10px;
}

#adminConsole #consoleHeader a:hover {
	color: #734D99
}

#toolbar {
	padding: 4px 3px;
}

#progressbar {
	top: 15%;
}


#workarea .columnsDisplay, #workarea .cfDataDisplay {
	background: #ffffff;
}
.columnsTable td {
	cursor: hand;	
}

.columnsTable td, .columnsTable th {
	border: 2px solid #231D2B;
	background-color: #DCD9DE;
}

.columnsTable .selectedRow td {
	background-color: #231D2B;
	color: #ffffff;
	font-weight: bold;
}

#workarea p {
	color: #231D2B;
}

#workarea .note {
	color: red;
	font-weight:bold;
	font-size: 12px;
}
.cfDisplayTable tr {
	margin-bottom:7px;
}

.cfDisplayTable td {
	border: 2px solid #231D2B;
}

.cfDisplayTable td.rowkey {
	background-color: #DCD9DE;
}

.cfDisplayTable div.keyvalueContainer {
	padding-bottom: 7px;
	padding-right: 7px;
}

.cfDisplayTable div.keyvalue {
	background-color: #FAF8A0;
	padding: 7px;
	float:left;
	margin-left: 7px;
	margin-top: 7px;
	border: 1px solid black;
}

.cfDisplayTable div.keyvalue span.key, .cfDisplayTable div.keyvalue span.value  {
	padding: 7px;
}

.cfDisplayTable div.keyvalue span.value {
	border-left: 1px solid black;
}

.cfDisplayTable .ui-button {
	border: 1px solid #231D2B; 
}

#rowKeyContainer {
	display: none;
}

.error {
	display: none;
	color: red;
	font-weight: bold;
	font-size: 1.5em;
}

/* jquery */

.ui-progressbar-value {
	background-image: url(images/pbar-ani.gif);
}

#toolbar .ui-button {
	margin-right: 10px;
}

#workarea .ui-button-text-only .ui-button-text, #toolbar .ui-button-text-only .ui-button-text {
	padding: 3px 10px;
	font-size: 15px;
}

/* loader */

#loader.loading {
  background: url(images/spinner.gif) no-repeat center center;
  position: absolute;
  top: 49%;
  left: 49%;
  display: block;
  z-index: 1002;
}

#loader {
  border: 1px solid #ccc;
  width: 25px;
  height: 25px;
  display:none;
}

#overlay {
	display: none;
	z-index: 1001;
	height: 0px;
	width: 0px;
}

#overlay.loading {
	position:absolute;
	top: 0;
	left: 0;
	display:block;
	background: url("images/ui-bg_flat_0_eeeeee_40x100.png") repeat-x scroll 50% 50% #EEEEEE;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
